name: release

on:
  push:
    branches-ignore:
      - '**'
    tags:
      - 'v*.*.*'

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@master
      -
        name: Set up Go
        uses: actions/setup-go@master
        with:
          go-version: 1.13.x
      -
        name: Prepare
        id: prepare
        run: |
            TAG=${GITHUB_REF#refs/tags/v}
            echo ::set-output name=tag_name::${TAG}
      -
        name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v1
        with:
          version: latest
          args: release --rm-dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VERSION: v${{ steps.prepare.outputs.tag_name }}

      -
        name: Update homebrew-tap
        uses: fopina/homebrew-tap@bump-action-v1
        with:
          token: ${{ secrets.PAT }}
          formula_class: PrivateBin
          formula_file: privatebin
          description: PrivateBin CLI written in Golang
          url: https://github.com/fopina/privatebin/releases/download/${{ steps.prepare.outputs.tag_name }}/pbin_darwin_x86_64.tar.gz
          license: ''
          version: '${{ steps.prepare.outputs.tag_name }}'
          bin: pbin
          release: ./dist/pbin_darwin_x86_64.tar.gz
